:root {
  --card-set-gap: 20px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-top: 20px;
  width: 100%;
  min-height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /* color: #f0ffff; */

  transition: color 150ms var(--timing-function),
    background-color 150ms var(--timing-function);
}

body.light-theme {
  background-color: #ffffff;
  color: #333333;
}

body.dark-theme {
  color: #f0ffff;
  background-color: #1f1b24;
}

/* ======================= THEME SWITCHER ======================= */
.toolbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.5em;
}

.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  color: currentColor;
  /* color: #333333; */
  height: 24px;
  width: 24px;
}

.theme-switch__icon-sun {
  margin-right: 8px;
}

.theme-switch__icon-moon {
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #d3d3d4;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  background-color: #1f1b24;
  transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #2196f3;
}
/* ========================= THEME SWITCHER END ==================== */

/* ========================= <FORM STYLES> =========================  */
.app-name {
  padding: 0;
  margin: 0;
  margin-bottom: 1.5rem;
  text-align: center;
}

.app-name__elem {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1;
}

.el-1 {
  color: #4285f4;
}

.el-2 {
  color: #ea4335;
}

.el-3 {
  color: #fbbc05;
}

.el-4 {
  color: #34a853;
}

.el-5 {
  color: #2196f3;
}

.el-6 {
  color: #ea4335;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.search {
  max-width: 600px;
  width: 100%;
  height: 50px;
  padding: 0 2.75em;

  /* border: none; */
  border-radius: 30px;

  font-size: 1.5em;
  line-height: 1.25;

  /* color: rgba(255, 255, 255, 0.8); */
  /* background-color: #2f303a; */
  background-image: url('./img/search-blue.svg');
  background-position: 20px;
  background-repeat: no-repeat;
  background-size: 24px;
}

body.light-theme .search {
  border: 1px solid #dfe1e5;
  /* background-color: #ffffff; */
  color: rgba(0, 0, 0, 0.8);
  /* background-image: url('./img/search-blue.svg'); */
}

body.dark-theme .search {
  border: none;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.8);
  /* background-image: url('./img/search.svg'); */
}

body.light-theme .search:hover,
body.light-theme .search:focus {
  outline: none;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.16);
}

body.dark-theme .search:hover,
body.dark-theme .search:focus {
  outline: none;
  box-shadow: 0 0 0 1px #2f303a, 0 0 0 4px #332940;
}

body.light-theme .search::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

body.dark-theme .search::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

/* ========================= END <FORM STYLES> =========================  */

/* ========================= <GALLERY STYLES> =========================  */
.container {
  /* width: 1170px; */
  width: 95%;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
  padding: 0;

  list-style: none;
}

.gallery__item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));

  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  background-color: #332940;
}

.photo-card {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.photo-card > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  cursor: zoom-in;
}

.photo-card > .stats {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.stats__item {
  display: flex;
  font-size: 16px;
  align-items: center;
  color: #f0ffff;
}

.material-icons {
  font-size: 24px;
  margin-right: 10px;
}
/* ========================= END <GALLERY STYLES> =========================  */
